!!! 5
%html
   %head
      %title Webtests
      =stylesheet_link_tag "application", media: "all"
      =javascript_include_tag "application"
      =javascript_include_tag "application_layout"
      =csrf_meta_tags
   %body

      =yield

