!!! 5
%html
   %head
      %title Webtests
      =stylesheet_link_tag "application", media: "all"
      =javascript_include_tag "application"
      =yield :header
      =csrf_meta_tags
   %body
      %div#cart-view
         %div.error   
         %div.cart-count

      =yield

      %script#cart-template{:type => "text/template"}
         %a{:href => "#"} My Cart ({%- totalQuantity %})      

