!!! 5
%html
   %head
      %title Webtests
      =stylesheet_link_tag "application", media: "all"
      =javascript_include_tag "application"
      =csrf_meta_tags
   %body
      %div.header

      %div.content

      %div.footer

      %script#error-template{:type => "text/template"}
         %div.error {%- message %}

      %script#cart-count-template{:type => "text/template"}
         %a{:href => "#cart"} My Cart ({%- totalQuantity %})

      %script#cart-header-template{:type => "text/template"}
         %div.cart_count#cart-count
         %div.error#cart-error

      %script#item-template{:type => "text/template"}
         %a.item{:data => {:itemType => "{%- itemType %}", :guid => "{%- guid %}"}} {%- name %}

      %script#cart-item-template{:type => "text/template"}
         %a.cart-item {%- name %} - {%- itemType %} - {%- guid %}

      %script#cart-page-template{:type => "text/template"}
         %div.items#items
         %div.cart_items#cart-items

      %script#cart-items-template{:type => "text/template"}
         %div.cart_items_list#cart-items-list
         %div.load_more_cart_items#load-more-cart-items

      %script#home-page-template{:type => "text/template"}
         This is the home page!

      %script#loading-template{:type => "text/template"}
         %h4 Loading...

      %script#load-more-template{:type => "text/template"}
         %a#load-more (Load more...)