- content_for :header do
   = javascript_include_tag 'cart'

%div.cart

   %div.itemsView

   %div#cart-view
      %div.error   
      %div.cart-count
   %div.cartItems

%script#item-template{:type => "text/template"}
   %a.item{:href => "#", :data => {:itemType => "{%- itemType %}", :guid => "{%- guid %}"}} {%- name %}

%script#cart-item-template{:type => "text/template"}
   %a.cart-item{:href => "#"} {%- name %} - {%- itemType %} - {%- guid %}